<li class="project-item {{className}}">
  <img
    src="{{projectItem.image}}"
    alt="{{projectItem.title}}"
    class="project-item__picture"
  />
  <a href="{{projectItem.link}}" class="project-item__title">{{projectItem.title}}</a>
  <img
    src="/images/arrow-right_white.png"
    alt="Перейти"
    class="project-item__arrow"
  />
  <div class="project-item__spacer"></div>
  <p class="project-item__description">{{projectItem.description}}</p>
  <input
    type="checkbox"
    id="project-item-{{projectItem.idx}}"
    name="project-item-{{projectItem.idx}}"
  />
  <label
    class="project-item__label"
    for="project-item-{{projectItem.idx}}"
  ></label>
  <ul class="project-item__additional">
    {{#each projectItem.additional}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</li>
