<ul class="accordions">
  {{#each items}}
  <li class="accordion">
    <input type="checkbox" id="accordion-item-{{@index}}" name="accordion-item-{{@index}}" />
    <label class="accordion__label" for="accordion-item-{{@index}}">{{this.title}}</label>
    <p class="accordion__content">{{this.content}}</p>
  </li>
  {{/each}}
</ul>
