{{#with projectItem}}
<li class="project-item">
  <img
    src="{{this.image}}"
    alt="{{this.title}}"
    class="project-item__picture"
  />
  <a href="/case.html" class="project-item__title">{{this.title}}</a>
  <p class="project-item__description">{{this.description}}</p>
  <input
    type="checkbox"
    id="project-item-{{this.idx}}"
    name="project-item-{{this.idx}}"
  />
  <label
    class="project-item__label"
    for="project-item-{{this.idx}}"
  ></label>
  <ul class="project-item__additional">
    {{#each this.additional}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</li>
{{/with}}
